* {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  box-sizing: border-box;
  background:transparent;
}

p {
  display:inline;
}

html, body {
  height: 100vh;
  margin: 0;
}

button {
  background-color: grey;
  border:solid black;

}

.tech {
  height:100px;
  width:100px;
  font-size:14px;
  text-align:center;
  background-color:teal;
  border:solid 1px grey;
}

#gasbox {
  display:none;
}

#electronbox, #duraniumbox, #voltaicbox, #entropybox, #drbox, #acidbasebox {
  display:none;
}

#atombox {
  border-bottom: 1px grey solid;
}

#atomCount {
  font-size: 300%;
}

#topbar {
  height: 10%;
  border-bottom: solid grey 2px;
}

#bottombar {
  border-top: solid grey 2px;
  height: 10%;
}

.tab {
  height: 80%;
  width: 10
  0%;
}

#game {
  height: 100%;
  width: 100%;
  display: none;
}

#intro {
  height: 100%;
  width: 100%;
  background-color: teal;
  display:flex;	
  justify-content:center;
  align-items:center;
  flex-flow: column;
}

h4 {
  font-size:150%;
  text-align:center;
}

#startbtn {
  width:8%;
  height:3.5%;

}

.navbtn {
  height: 100%;
  width: 20%;
  color: blue;
  display:inline;
}

.researchinit {
  display: none;
}
